<div class="cat-sidebar">
			<!-- Filters -->
			<ul class="cd-accordion-menu animated">
				<li class="has-children">
					<input type="checkbox" name ="group-1" id="group-1" checked>
					<label for="group-1">Gas (72)</label>
					<ul>
						<li class="has-children">
							<input type="checkbox" name ="sub-group-1" id="sub-group-1">
							<label for="sub-group-1">System 1</label>
							<ul>
								<li><a href="">Performance Model</a></li>
								<li><a href="">Lifing Model</a></li>
							</ul>
						</li>
						<li class="has-children">
							<input type="checkbox" name ="sub-group-2" id="sub-group-2">
							<label for="sub-group-2">System 2</label>

							<ul>
								<li class="has-children">
									<input type="checkbox" name ="sub-group-level-3" id="sub-group-level-3">
									<label for="sub-group-level-3">Sub Group Level 3</label>

									<ul>
										<li><a href="">Analytic</a></li>
										<li><a href="">Analytic</a></li>
									</ul>
								</li>
								<li><a href="">Analytic</a></li>
							</ul>
						</li>
						<li><a href="">Performance Model</a></li>
						<li><a href="">Lifing Model</a></li>
					</ul>
				</li>

				<li class="has-children">
					<input type="checkbox" name ="group-2" id="group-2">
					<label for="group-2">Steam (34)</label>

					<ul>
						<li><a href="">Analytic</a></li>
						<li><a href="">Analytic</a></li>
					</ul>
				</li>

				<li class="has-children">
					<input type="checkbox" name ="group-3" id="group-3">
					<label for="group-3">Nuclear (57)</label>

					<ul>
						<li><a href="">Analytic</a></li>
						<li><a href="">Analytic</a></li>
					</ul>
				</li>

				<li class="has-children">
					<input type="checkbox" name ="group-4" id="group-4">
					<label for="group-4">Wind (7)</label>

					<ul>
						<li class="has-children">
							<input type="checkbox" name ="sub-group-3" id="sub-group-3">
							<label for="sub-group-3">Sub Group 3</label>

							<ul>
								<li><a href="">Analytic</a></li>
								<li><a href="">Analytic</a></li>
							</ul>
						</li>
						<li><a href="">Analytic</a></li>
						<li><a href="">Analytic</a></li>
					</ul>
				</li>
			</ul> <!-- cd-accordion-menu -->
		</div>

		<div class="cat-card-area">
			<div class="cat-card-search">
				<input id="card-search" type="text" placeholder="Search analytics..." class="ge-text-input cat-search"></input>
			</div>
			<div class="cat-card-filters">
				<button id="performance-model-filter" class="ge-button .-color--gray -fill--solid -size--medium">Performance Models</button>
				<button id="lifing-model-filter" class="ge-button .-color--gray -fill--outline -size--medium">Lifing Models</button>
				<button id="anomaly-model-filter" class="ge-button .-color--gray -fill--outline -size--medium">Anomaly Models</button>
			</div>
			<div class="cat-card -color--gray-lighter-3 card-performance">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-performance">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-performance">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-lifing">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-lifing">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-lifing">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-anomaly">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-anomaly">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-anomaly">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>
						<div class="cat-card -color--gray-lighter-3 card-lifing">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-anomaly">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-anomaly">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>

			<div class="cat-card -color--gray-lighter-3 card-anomaly">
				<p class="cat-card-title">Analytic Name</p>
				<img class="cat-card-image" src="../images/analytic.png">
				<a ui-sref="analytic"><button class="cat-card-button ge-button .-color--gray -fill--outline -size--small">VIEW</button></a>
			</div>
</div>