<section id="workbench">
	<div class="bench-box">
		<div class="bench-seat bench-seat-expanded">
			<div class="seat-content">
				<p>1. Metadata</p>
			</div>
		</div>
		<div class="bench-seat">
			<div class="seat-content">
				<p>2. Data</p>
			</div>
		</div>
		<div class="bench-seat">
			<div class="seat-content">
				<p>3. Cleansing</p>
			</div>
		</div>
		<div class="bench-seat">
			<div class="seat-content">
				<p>4. Model</p>
			</div>
		</div>
		<div class="bench-seat">
			<div class="seat-content">
				<p>5. Learning</p>
			</div>
		</div>
		<div class="bench-seat">
			<div class="seat-content">
				<p>6. Publish</p>
			</div>
		</div>
	</div>

    <div class="det-overview">
    	<p class="centered-button">
    		<a ui-sref="catalog"><button class="ge-button -fill--outline -color--gray -size--small">RETURN TO CATALOG</button></a>
    		<a ui-sref="analytic"><button class="ge-button -fill--outline -color--blue -size--small">TEST ANALYTIC</button></a>
    	</p>
    	<div class="det-overview-left">
    		<p class="det-overview-name">Analytic Name</p>
    		<p class="det-overview-breadcrumbs">Gas > System 1 > Compressor > FM12345</p>
    		<p class="det-overview-description">
    			Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value.
    		</p>
    	</div>
    	<div class="det-overview-right">
    		<div class="analytic-chunk ge-box -color--blue-darker-2" id="chunk-a">Chunk A</div>
    		<div class="analytic-chunk ge-box -color--blue-darker-1" id="chunk-b">Chunk B</div>
    		<div class="analytic-chunk ge-box -color--blue-lighter-1" id="chunk-c">Chunk C</div>
    		<div class="analytic-chunk ge-box -color--blue-lighter-2" id="chunk-d">Chunk D</div>
    	</div>
    </div>
</section>