<style>
.img1 {
	background-image:
		url(images/Power-Electricity-Value-Network-Webinar-369x245.jpeg);
	margin-left: 5px;
	margin-right: 5px;
	flex: 1;
	height: 245px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.img2 {
	background-image: url(images/BO.jpg);
	margin-left: 5px;
	margin-right: 5px;
	flex: 1;
	height: 245px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.img3 {
	background-image: url(images/APM-OO.jpg);
	margin-left: 5px;
	margin-right: 5px;
	flex: 1;
	height: 245px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

.dec {
	letter-spacing: 0.04em;
	font-weight: 600;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	text-align: left;
	min-height: 82px;
}

.cat-filters {
	background: #05c0dd;
	color: #fff;
	padding: 0.3em 1.4em 0.4em 1.4em;
	border-radius: 1em;
	position: relative;
}

.header {
	color: white;
	font-size: 20px;
    padding: 2% 44%;
}

.arrowImg {
	background-image: url(images/3col_thumbs_casestudy_2_arrow.png);
	height: 35px;
	background-repeat: no-repeat;
	background-position: center top;
}

.description {
	padding: 10px 20px;
	text-align: center;
	min-height: 82px;
	color: black;
	font-family: "GE Sans", "ge-sans", "GE Inspira", "ge-inspira", Helvetica,
		Arial, sans-serif;
	line-height: 20px;
	margin: 0 0 10px;
}
.descptnDiv{
min-height: 260px;
padding-top: 12%;
}
.subHeading{
min-height: 60px;
text-align: center;
font-size: 28px;
line-height: 28px;
font-weight: normal;
color: black;
}
.blockLevel{
    position: relative;
    left: 8%;
}
#mainDiv{
background: linear-gradient(to right, #284069 , #5b3e67) ! important;
}
</style>
<div id="mainDiv">
<div class="heading" style="padding: 15px 0px 10px 25px;color: white;font-size: 20px;color: black;"></div>
<div style="display:flex;margin: 2% 0% 0% 6%;">
	
	<div style="height:545px;width: 380px;margin-right: 4%;">
	<div class="img1" ng-click="" id="systemName">
	</div>
	<div style="background: #d2cfcf;margin-left: 5px; margin-right: 5px;">
	<div class="arrowImg"></div>
	<div class="descptnDiv">
	<div class="subHeading">
	Asset Performance Management
	</div>
	<div style="min-height: 100px;">
	<p class="description">Asset Performance Management enables intelligent asset strategies that reduce cost and improve availability and reliability of assets</p>
	</div>
	<div style="min-height: 40px;cursor: pointer;" ng-click="apmClick()">
	<span class="cat-filters" style="left: 38%;">Explore</span>
	</div>
	</div>
	</div>
	</div>
	
	<div style="height:545px;width: 380px;margin-right: 4%;">
	<div class="img2" ng-click="" id="systemName">
	
	</div>
	<div style="background: #d2cfcf;margin-left: 5px; margin-right: 5px;">
	<div class="arrowImg"></div>
	<div class="descptnDiv">
	<div class="subHeading">
	Business Optimization 
	</div>
	<div style="min-height: 100px;">
	<p class="description">Business Optimization enhances existing business processes and &nbsp;constructs new processes to make organization effective</p>
	</div>
	<div style="    min-height: 40px;">
	<span class="cat-filters" style="left: 38%;">Coming Soon</span>
	</div>
	</div>
	</div>
	</div>
	
	<div style="height:545px;width: 380px;margin-right: 4%;">
	<div class="img3" ng-click="" id="systemName">
	
	</div>
	<div style="background: #d2cfcf;margin-left: 5px; margin-right: 5px;">
	<div class="arrowImg"></div>
	<div class="descptnDiv">
	<div class="subHeading">
	Operations Optimization
	</div>
	<div style="min-height: 100px;">
	<p class="description">Operations Optimization increase operational efficiency with real-time visibility into data , reduce production costs and enhance plant flexibility</p>
	</div>
	<div style="    min-height: 40px;">
	<span class="cat-filters" style="left: 38%;">Coming Soon</span>
	</div>
	</div>
	</div>
	</div>
		
	</div>
</div>
